<header>
	<nav class="header-nav">
    <div class="nav-contents">
		<a href="/"><div class="logo"><%-include('./logo.ejs')%></div></a>
		<ul>
			<li><a href="/authors">My Authors</a></li>
			<li><a href="/authors/new"><i class="material-icons">
        library_add
        </i></a></li>
			<li><a href="/books">My Books</a></li>
			<li><a href="/books/new"><i class="material-icons">
        library_add
        </i></a></liclass="header-link">
		</ul>
  </div>
</nav>
</header>

<style>
  svg {
    height: 75px;
    fill: white;
    width: auto;
    stroke: white;
    transition: ease-in .1s all;
  }

  svg #hardback {
    stroke: white;
    
  }


</style>
