<h2 class="page-header">Recently Added</h2>

<form action = "/websearch" method="GET">
<label>Author</label>
<input type="text" name="author" value="">
<label>Title</label>
<input type="text" name="title" value="">
  <button type="submit">Search</button>
</form>

<div>
  <% books.forEach(book => { %>
  <a href = "/books/<%=book.id%>">
  <img height="150" width="100" src="<%=book.coverImagePath%>" />
  
</a>
	<%});%>
</div>
