:root {
	--color-btn-primary-background: hsl(var(--color-base-hue), 100%, 83%);
	--color-btn-primary-background-dark: hsl(var(--color-base-hue), 100%, 73%);
	--color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
	--color-btn-border: black;
	--color-btn-danger-background: hsl(var(--color-danger-hue), 100%, 83%);
	--color-btn-danger-background-dark: hsl(var(--color-danger-hue), 100%, 73%);

	--color-btn-danger-text: black;
}
