@import 'variables';

:root {
	--nav-title-font-size: 5rem;
	--nav-title-font-weight: bold;
	--nav-link-font-weight: 500;
}

.header-nav {
	margin-bottom: 2.5rem;

	widows: 100vw;
	background-image: linear-gradient(
		to right,
		var(--color-background-dark),
		var(--color-background-light)
	);
}

.logo {
	height: 100%;
	padding: 1rem;
	/* widows: 400px; */
}

.header-nav ul {
	display: flex;
	margin: 0;
	padding: 0;
}
.nav-contents {
	margin: auto;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5rem;
}
.header-nav li {
	list-style: none;
	font-family: Raleway;
	font-weight: 600;
}
.header-nav li a {
	text-decoration: none;
	color: var(--color-text-light);

	padding: 1rem;
	font-size: 1.2rem;
}

.header-nav li a:hover,
.header-title:hover {
	color: white;
}
